@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');


body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.main-section {
    padding : 20px;
}

.image-container {
    width: 100%;
    height: 500px;
    background-size: cover;
}

.il_lago_dell_ovest .image-container {
    background-image: url(https://r4.wallpaperflare.com/wallpaper/625/640/844/5k-uhd-asia-zhejiang-hangzhou-wallpaper-770f32249f558ffa8f82e4116181a7f5.jpg);
    background-position: center;
}

.pagoda_delle_sei_armonie .image-container {
    background-image: url(https://p2.piqsels.com/preview/760/343/702/hangzhou-west-lake-night-leifeng-pagoda-lights-west-lake-bridge-park.jpg);
    background-position-y: 17%;
}

.la_tomba_del_generale_yue_fei .image-container {
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/6d/9f/e6/main-entrance.jpg?w=1000&h=-1&s=1);
    background-position-y: 55%;
}

.accademia_delle_arti_di_wulin .image-container {
    background-image: url(https://static.wixstatic.com/media/7d7678_0bf639fb1d4842db9423bca79f7d104a~mv2.jpg/v1/fill/w_980,h_608,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/7d7678_0bf639fb1d4842db9423bca79f7d104a~mv2.jpg);
    background-position-y: 55%;
}

.museo_nazionale_del_tè .image-container {
    background-image: url(https://res.taoart.com/cborg/images/ccnew1.jpg?v=1);
    background-position-y: 55%;
}

.metropolitana_di_hangzhou .image-container {
    background-image: url(https://dimg04.tripcdn.com/images/0M71012000jfequ6b3FC5.png);
    background-position-y: 80%;
}

h1 {
    font-family: "Prata", serif;
font-weight: 400;
font-style: normal;
font-size: 64px;
margin-bottom: 0px;
}

h3 {
    font-family: "Prata", serif;
font-weight: 400;
font-style: normal;
font-size: 24px;
margin-top: 0px;
margin-bottom: 0px;
}

h6 {
    padding: 22px;
    margin-bottom: 0px;
    margin-top: 56px;
    color: white;
    border-radius: 6px;
}

.il_lago_dell_ovest h6 {
    background: linear-gradient(to right, rgba(74, 120, 198, 1), rgba(18, 77, 2));
}

.pagoda_delle_sei_armonie h6 {
    background: linear-gradient(to right, rgba(13, 29, 27), rgba(105, 168, 201, 1));
}

.la_tomba_del_generale_yue_fei h6 {
    background: linear-gradient(to right, rgba(12, 20, 1, 1), rgba(20, 18, 26, 1));
}

.accademia_delle_arti_di_wulin h6 {
    background: linear-gradient(to right, rgba(111, 90, 57), rgba(201, 185, 159));
}

.museo_nazionale_del_tè h6 {
    background: linear-gradient(to right, rgba(159, 123, 89), rgba(57, 58, 66));
}

.metropolitana_di_hangzhou h6 {
    background: linear-gradient(to right, rgba(166, 168, 166), rgba(125, 126, 133));
}

a {
    font-weight: 600;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-bottom: 1px solid #dfdfdf;
}

.il_lago_dell_ovest li a {
        text-decoration: none;
    color: rgba(74, 120, 198, 1);
}

.pagoda_delle_sei_armonie li a {
        text-decoration: none;
    color: rgba(13, 29, 27, 1);
}

.la_tomba_del_generale_yue_fei li a {
        text-decoration: none;
    color: rgba(12, 20, 1, 1);
}

.accademia_delle_arti_di_wulin li a {
        text-decoration: none;
    color: rgba(111, 90, 57);
}

.museo_nazionale_del_tè li  a {
        text-decoration: none;
    color: rgba(159, 123, 89);
}

.metropolitana_di_hangzhou li a {
        text-decoration: none;
    color: rgba(166, 168, 166);
}

footer {
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}