@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    font-family: 'patrick hand', cursive;
    font-size: larger;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(94, 193, 226);
}

h2, h4 {
    margin-top: 0;
}

h1, h2, h4 {
    text-transform: uppercase;
}

#termini-e-condizioni {
    margin-bottom: 20px;
}

#submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#submit-button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.box {
        background-color: lightblue;
    padding: 20px 40px;
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

