@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100%;
}

.topbar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    height: 100%;
}

.icon {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    cursor: pointer;
}

.icon ion-icon {
    font-size: 2em;
}

.icon p {
    margin: 0;
}

.icon:not(:first-of-type) {
    height: 16vh;
}

.logo {
    height: 50%;
}

.search-wrapper {
    display: flex;
    height: 50%;
    width: 30%;
}

.search-wrapper input {
    width: 100%;
    padding: 0 1em;
}

.icons-wrapper {
    display: flex;
    align-items: center;
}

.top-icon {
    font-size: 2em;
    padding: 0 0.5em;
}

.mic-icon {
    display: flex;
    align-items: center;
}

.search-btn {
    padding: 0 0.7em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.content-main {
    height: 92vh;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: center;
    overflow-y: auto;
    padding: 20px;
}

#video-content {
    display: flex;
    height: auto;
    flex: 0 1 calc(33% - 2em);
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
}

#epicode-thumbnail {
    width: 100%;
}

#info {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    padding-right: 0.1em;
}

#epicode-logo {
    width: 10%;
    margin: 0.2em;
}

#video-info {
    padding: 0 0.5em;
    align-self: center;
    flex-grow: 1;
}

#title {
    font-weight: 700;
    margin: 0;
}

#description {
    margin: 0;
}

#ellipsis-icon {
    font-size: 1.5em;
    padding-left: 0.05em;
    flex-shrink: 0;    
}

.cliccabile {
    cursor: pointer;
}